* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial;
    
}

.blue{
    height: 5px;
    background-color: rgb(0, 162, 255);
}
.green {
    height: 5px;
    background-color: yellowgreen;
}
.yellow {
    height: 5px;
    background-color: rgb(255, 136, 0);
}
.fire {
    height: 5px;
    background-color: purple;
}


.navbar {
    height: 105px;
}
.kundalik_logo {
    width: 148px;
    height: 52px;
    background-repeat: no-repeat;  
}
.nav-item {
    border-right: 2px solid black;
    font-size: 16px;
}
